.carousel-container {
    max-height: 400px; 
}

#carrusel {
    max-width: 1000px;
    margin: 0 auto;
}


.carousel-inner img {
    width: 100%;
    height: auto;
    padding: 0px 70px;
    margin-top: 20px;
}

